.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
  max-width: none;
}

#first-slide {
  background-image: url('images/splash.jpg');
  background-position: center top;
}

#second-slide {
  background-image: url('images/splash.jpg');
  background-position: center top;
}

#third-slide {
  background-image: url('images/splash.jpg');
  background-position: center top;
}
