.question .modal {
  display: block;
  /*overflow: visible;*/
  position: relative;
  z-index: 10;
}

.question .modal-header {
  color: white;
}

.question .modal .pager {
  margin-bottom: 0;
}

.question span {
  padding-right: 10px;
}

.select-options {
  padding: 0 15px;
}

.result-image {
  display: inline-block;
  width: 168px;
  height: 252px;
  cursor: pointer;
}

.result-image:nth-child(n+2) {
  margin-left: 10px;
}

.result-image:last-child {
  margin-right: 10px;
}

#results .well {
  overflow-x: scroll;
  margin-left: 0;
  margin-right: 0;
}

#character-images {
  white-space: nowrap;
}

#fade-left {
  left: 20px;
}

#fade-right {
  right: 20px;
}

#fade-left,
#fade-right {
  position: absolute;
  margin-top: -10px;
  height: 275px;
  z-index: 1000;
}

#fade-left,
#fade-right {
  -webkit-transition:all linear 0.4s;
  transition:all linear 0.4s;
}

#fade-left.ng-hide,
#fade-right.ng-hide {
  opacity:0;
}
