#find-character .modal-header {
  color: white;
}

#find-character .fa-3x {
  font-size: 1.3em;
}

.question .modal {
  display: block;
  /*overflow: visible;*/
  position: relative;
  z-index: 10;
}

.question .modal .pager {
  margin-bottom: 0;
}

.question span {
  padding-right: 10px;
}

.select-options {
  padding: 0 15px;
}

.character-result {
  display: inline-block;
  width: 168px;
  height: 252px;
  cursor: pointer;
}

.character-result:nth-child(n+2) {
  margin-left: 10px;
}

.character-result:last-child {
  margin-right: 10px;
}

.character-result .modal-content {
  display: none;
  position: absolute;
  z-index: 9999;
  margin-top: -75px;
  width: 200px;
}

.character-result .modal-body {
  width: 100%;
  max-width: 225px;
  white-space: normal;
  text-align: center;
  color: #C8C8C8;
  overflow-y: scroll;
  height: 150px;
  box-shadow: inset 0 -10px 10px 0 rgba(46, 51, 56, 0.5);
}

#character-images, #random20-images {
  /*position: relative;*/
  white-space: nowrap;
  overflow-x: scroll;
  margin-left: 0;
  margin-right: 0;
}

#fade-left {
  /*left: 20px;*/
}

#fade-right {
  margin-left: -98px;
}

#fade-left,
#fade-right {
  position: absolute;
  margin-top: 0;
  height: 275px;
  z-index: 1000;
}

#fade-left,
#fade-right {
  -webkit-transition:all linear 0.4s;
  transition:all linear 0.4s;
}

#fade-left.ng-hide,
#fade-right.ng-hide {
  opacity:0;
}
