.question .modal {
  display: block;
  overflow: visible;
  position: relative;
  z-index: 10;
}

.question .modal-header {
  color: white;
}

.question .modal .pager {
  margin-bottom: 0;
}

.question span {
  padding-right: 10px;
}

.select-options {
  padding: 0 15px;
}

.result-cover {
  display: inline-block;
  width: 168px;
  height: 252px;
}

.result-cover:nth-child(n+2) {
  margin-left: 10px;
}

.result-cover:last-child {
  margin-right: 10px;
}

#results .well {
  overflow-x: scroll;
  margin-left: 0;
  margin-right: 0;
}

#comic-covers {
  white-space: nowrap;
  width: 1500px;
}
