<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div id="first-slide" class="item active">
      <!-- <img class="first-slide" src="images/splash.jpg" alt="First slide"> -->
      <div class="container">
        <div class="carousel-caption">
          <h1>Sign Up</h1>
          <p>Sign up to build a profile and get accces to all of the features.</p>
          <p><a class="btn btn-info btn-lg btn-primary" role="button">Sign Up Now</a></p>
        </div>
      </div>
    </div>
    <div id="second-slide" class="item">
      <!-- <img class="second-slide" src="images/splash.jpg" alt="Second slide"> -->
      <div class="container">
        <div class="carousel-caption">
          <h1>Find a Character</h1>
          <p>Browse through a random list of twenty characters or go through a questionnaire to find someone more specific.</p>
          <p><a data-ng-click="tab.setTab(3)" class="btn btn-info btn-lg btn-primary" href="#/find-character" role="button">Search Now</a></p>
        </div>
      </div>
    </div>
    <div id="third-slide" class="item">
      <!-- <img class="third-slide" src="images/splash.jpg" alt="Third slide"> -->
      <div class="container">
        <div class="carousel-caption">
          <h1>Custom Reading List</h1>
          <p>Sign up and have access to build a custom reading list to keep track of the comics you've read and a wishlist for the comics you want to read.</p>
          <p><a class="btn btn-info btn-lg btn-primary" role="button">Sign Up Now</a></p>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" data-target="#myCarousel" role="button" data-slide="prev">
    <span class="icon-prev" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" data-target="#myCarousel" role="button" data-slide="next">
    <span class="icon-next" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
