<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">{{character.name}}</h4>
  </div>
  <!-- TODO: div for inset shadow to fade text on bottom -->
  <div class="modal-body">
    <h5>Description:</h5>
    <p data-ng-show="character.description == ''">No Description Found</p>
    <p data-ng-show="character.description != ''">{{character.description}}</p>
  </div>
  <div class="modal-footer">
    <a data-ng-click="findCtrl.selectCharacter(character)" class="btn btn-default">View Character</a>
  </div>
</div>
