<section id="marvelComic" data-ng-init="comicbookCtrl.getComicBook()">
  <div class="well well-lg">
    <div class="row">
      <div class="col-md-6">
        <img src="{{comicbookCtrl.comicBook.thumbnail}}" alt="" />
      </div>
      <div class="col-md-6">
        <h1>{{comicbookCtrl.comicBook.name}}</h1>
        <table class="table table-striped table-hover ">
          <thead>
            <tr>
              <th>Info</th>
            </tr>
          </thead>
          <tbody>
            <tr class="info">
              <td>Aliases</td>
              <td>{{comicbookCtrl.comicBook.aliases}}</td>
            </tr>
            <tr class="info">
              <td>Abilities</td>
              <td>{{comicbookCtrl.comicBook.abilities}}</td>
            </tr>
            <tr class="info">
              <td>Weapons</td>
              <td>{{comicbookCtrl.comicBook.weapons}}</td>
            </tr>
            <tr class="info">
              <td>Origin</td>
              <td>{{comicbookCtrl.comicBook.origin}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- <div class="container"> -->
  <button  data-ng-click="comicbookCtrl.addBook()"class="btn btn-lg btn-info btn-block">Add to Reading List</button>

<!-- </div> -->
  </div>
</section>
