<section id="find-character" data-ng-init="findCtrl.init()">
  <div id="random20-container" data-ng-show="!findCtrl.showResults">
    <h2>Browse the Random 20</h2>
    <div class="pull-left">
      <img id="fade-left" data-ng-show="!findCtrl.onLeft" src="images/fade-left.png" />
    </div>
    <div class="pull-right">
      <img id="fade-right" data-ng-show="!findCtrl.onRight" src="images/fade-right.png" />
    </div>
    <div id="random20-images" class="well well-sm row">
      <div>
        <div id="{{character.marvel_id}}" ng-click="findCtrl.characterClick(character.marvel_id)"
        data-ng-repeat="character in findCtrl.random20" class="character-result"
        style="background-image: url({{character.image_medium}})">

          <!-- INFO POPUP -->
          <character-popup></character-popup>

        </div>
      </div>
    </div>
  <h2>Filtered Search</h2>
  </div>
  <question></question>
  <question-results></question-results>
</section>
