<section id="profile">
  <div data-ng-show="!profileCtrl.profileEdit" class="">
    <h1>Profile</h1>
    <img data-ng-src="{{profileCtrl.sampleUser.profileImage}}" alt="" />
    <p>{{profileCtrl.sampleUser.username}}</p>
    <p>{{profileCtrl.sampleUser.age}}</p>
    <p>{{profileCtrl.sampleUser.city}}</p>
    <p>{{profileCtrl.sampleUser.state}}</p>
    <button type="button" class="btn btn-primary" data-ng-click="profileCtrl.edit(profileCtrl.sampleUser)">Edit Profile</button>

    <h2>Reading List</h2>
    <div class="row">
      <div class="col-md-6">
        <table class="table table-striped table-hover ">
          <thead>
            <tr class="info">
              <th>Read List</th>
            </tr>
            <tbody>
              <tr class="warning" data-ng-repeat="readBook in profileCtrl.readList track by $index" >
                <td>
                  {{readBook.name}}
                  <a ng-click="profileCtrl.removeBook(readBook)" href class="btn btn-primary btn-xs">Delete</a>
                </td>
              </tr>
            </tbody>
          </thead>
        </table>
      </div><!-- End left table -->
      <div class="col-md-6">
        <table class="table table-striped table-hover ">
          <thead>
            <tr class="info">
              <th>
                To Read List
              </th>
            </tr>
            <tbody>
              <tr class="warning" data-ng-repeat="unReadBook in profileCtrl.unreadList track by $index" >
                <td>
                  {{unReadBook.name}}
                  <a ng-click="profileCtrl.markRead(unReadBook)" href class="btn btn-primary btn-xs">Read</a>
                  <a ng-click="profileCtrl.removeBook(unReadBook)" href class="btn btn-primary btn-xs">Delete</a>
                </td>
              </tr>
            </tbody>
          </thead>
        </table>
      </div><!-- End left table -->
    </div>
  </div><!-- End profile -->


  <div data-ng-show="profileCtrl.profileEdit" class="">
      <form class="form-horizontal"  data-ng-submit="profileCtrl.update(user)">
        <fieldset>
          <legend>Settings</legend>
          <div class="form-group">
            <label for="inputUsername" class="col-lg-2 control-label">Username</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="inputUsername" data-ng-model="profileCtrl.sampleUser.username">
            </div>
          </div>
          <div class="form-group">
            <label for="inputAge" class="col-lg-2 control-label">Age</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="inputAge" data-ng-model="profileCtrl.sampleUser.age">
            </div>
          </div>
          <div class="form-group">
            <label for="inputCity" class="col-lg-2 control-label">City</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="inputCity" data-ng-model="profileCtrl.sampleUser.city">
            </div>
          </div>
          <div class="form-group">
            <label for="inputState" class="col-lg-2 control-label">State</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="inputState" data-ng-model="profileCtrl.sampleUser.state">
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
              <button data-ng-click="profileCtrl.cancel(user)" type="reset" class="btn btn-default">Cancel</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </fieldset>
      </form>
  </div><!-- End profile edit -->

</section>
