<article data-ng-show="!findCtrl.showResults" class="question">
  <div class="progress progress-striped active">
    <div class="progress-bar progress-bar-success" style="width: {{findCtrl.num == 6 ? 100 : findCtrl.num * 16.66}}%"></div>
  </div>
  <div class="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{findCtrl.questions[findCtrl.num]}}</h4>
        </div>

        <div class="modal-body">
          <form>
            <div class="form-group">
              <div class="select-options">
                <select class="form-control" id="select" ng-model="queryOption" ng-options="option for option in findCtrl.options[findCtrl.num]">
                  <option value="">-- no preference --</option>
                </select>
                <br>
              </div>
              <ul class="pager">
                <li data-ng-class="{'disabled':findCtrl.num == 0}" class="previous">
                  <a data-ng-click="findCtrl.back(findCtrl.num)">&larr; Back</a>
                </li>
                <li data-ng-class="{'disabled':findCtrl.num == 6}" class="next">
                  <a data-ng-click="findCtrl.nxtQ(findCtrl.num, queryOption)">Next &rarr;</a>
                </li>
              </ul>
            </div>
          </form>
        </div>

        <div class="modal-footer">
          <span data-ng-show="findCtrl.num != 6">Tired of answering questions?</span>
          <button type="button" data-ng-click="findCtrl.getResults(findCtrl.num, queryOption)"
            class="btn btn-primary">{{findCtrl.num == 6 ? 'Get Results' : 'Get Results Now'}}</button>
        </div>
      </div>
    </div>
  </div>
</article>
