<section data-ng-show="signinCtrl.signInPopup" id="signin-mask">
  <div id="signin-wrapper">
    <form id="signin-form" class="form-horizontal">
      <fieldset>
        <legend>Sign In</legend>
        <div data-ng-show="signinCtrl.error" class="alert alert-dismissible alert-info">
          <h4>Something Went Wrong!</h4>
          <p>{{signinCtrl.error}}</p>
        </div>
        <div class="form-group">
          <label for="inputUsername" class="control-label">Username</label>
          <div>
            <input data-ng-model="user.username" type="text" class="form-control" id="inputUsername" placeholder="Username">
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword" class="control-label">Password</label>
          <div>
            <input data-ng-model="user.password" type="password" class="form-control" id="inputPassword" placeholder="Password">
          </div>
        </div>
        <div class="form-group">
          <div>
            <button data-ng-click="signinCtrl.submitUser(user)" type="submit" class="btn btn-primary">Submit</button>
            <button data-ng-click="signinCtrl.cancel(user); signinCtrl.togglePopup()" type="cancel" class="btn btn-primary">Cancel</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</section>
